* {
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
#main {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;
}
#main > .main-content > h2 {
    padding-left: 7px;
    border-left: 4px red solid; 
    color: #222F3E;
}
#desc {
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    padding: 7px; 
}
.box {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left: 30px;
    height: 200px;
    padding: 10px;
}
.box-profile{
    width: 150px;
    font-size: 90px;
    background-color: #576574;
}
.box ~ .box-table{
    margin-left: -10px;
}
#mov {
    margin-top: 20px;
    font-weight: bold;
    width: 62%;
}
.mov {
    height: 230px;
    margin-right:25px;
    width: 150px;
    border: #cdcecf solid 1px;
}
.mov-thumb{
    height: 90px;
}
.mov-content{
    padding-bottom:6px;
    padding-right:5px;
    padding-left:5px;
}
.mov-header{
    padding-right: 30px;
}
#related {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    width: 38%;
}
.related {
    height: 280px;
    border: #cdcecf solid 1px;
}
.related-thumb{
    height: 150px;
}
.related-title{
    padding: 10px;
}
.related-mov-film-table{
    padding: 10px;
    font-size: 12px;
    font-weight: normal
}
.related-mov-desc{
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.relative{
    position: relative;
}
.width-full{
    width: 100%;
}
.height-full{
    height: 100%;
}

.title{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.color-red{
    color: red;
}
.color-white{
    color: #ffffff;
}
.color-gray{
    color: gray;
}
.link {
    font-weight: bolder;
    color: #55C5FF;
}
.link:hover{
    color: rgb(8, 97, 141);
}
.link ~ .mov-link{
    padding-bottom: 10px;
    font-size: 1px;
    margin-left: 28px;
}
.link ~ .related-mov-link{
    font-size: 13px;
    margin-right: 10px;
}
.bg-purple{
    background-color: #9B59B6;
}
.bg-orange{
    background-color: #E67E22;
}
.bg-dark{
    background-color: #222F3E;
}
.bg-light{
    background-color: #ffffff;
}
.content-title{
    font-size: 13px;
    color: #6D7C8C;
}
.content-subtitle{
    font-size: 10px;
    padding-top:5px;
    color: #8E8B85;
}
.content-desc{
    font-size: 9px;
    padding-top:3px;
}
.table{
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
}
.table-data{
    padding-right: 50px;
    height: 30px;
}
.row:after {
    content: "";
    display: flex;
    clear: both;
}